<div class="card mb-4">
    <img class="card-img-top"
    src="https://colorlib.com/wp/wp-content/uploads/sites/2/angular-logo.png"
    alt="Card image cap" width="400">
    <div class="card-body">
    <h4 class="card-title">Angular</h4>
    </div>
</div>